# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
env/
.venv/
venv/
db.sqlite3

# Django
*.log
local_settings.py
media/
staticfiles/

# Node
node_modules/
dist/
build/
package-lock.json
yarn.lock

# Environment
.env

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db